a.mlink:link{
    color:black;
    text-decoration: underline;
}
a.mlink:visited{
    color:black;
    text-decoration: underline;
}
a.mlink:hover{
    color:darkgray; 
    text-decoration: underline;
}
a.mlink:active{
    color: black;
    text-decoration: underline;
}
a.hlink:link{
    color: cornflowerblue;
    text-decoration: none;
}
a.hlink:visited{
    color: cornflowerblue;
    text-decoration: none;
}
a.hlink:hover{
    color: blue;
    text-decoration: none;
}
a.hlink:active{
    color: cornflowerblue;
    text-decoration: none;
}